@font-face {
    font-family: "shabnam";
    src: url("../public/shabnam/Shabnam.eot") format("embedded-opentype"),
        url("../public/shabnam/Shabnam.woff") format("woff"),
        url("../public/shabnam/Shabnam.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "shabnam";
    src: url("../public/shabnam/Shabnam-Bold.eot") format("embedded-opentype"),
        url("../public/shabnam/Shabnam-Bold.woff") format("woff"),
        url("../public/shabnam/Shabnam-Bold.ttf") format("truetype");
    font-weight: bold;
}

body {
    margin: 0;
    font-family: "shabnam";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    direction: rtl;
}
